In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('FitBitdata.csv')

In [4]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\tando\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
 !pip install pymysql

Requirement already satisfied: pymysql in c:\users\tando\anaconda3\lib\site-packages (1.0.2)

In [5]:
conda install -c anaconda pymysql

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\tando\anaconda3

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2022.3.29  |       haa95532_1         160 KB  anaconda
    certifi-2021.10.8          |   py39haa95532_2         156 KB  anaconda
    openssl-1.1.1n             |       h2bbff1b_0         5.8 MB  anaconda
    ------------------------------------------------------------
                                           Total:         6.1 MB

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates                                 pkgs/main --> anaconda
  certifi                                         pkgs/main --> anaconda
  openssl                                         pkgs/main --> anaconda



Downloading and Extracting Packages

ca-certificates-2022 | 160 KB    |            |   0%
ca-certificates-2022 | 160 KB    | #          |  10%
ca-certificates-2022 | 160 KB    | ########## | 100%
ca-certificates-2022 | 160 KB    | ########## | 100%

certifi-2021.10.8    | 156 KB    |            |   0%
certifi-2021.10.8    | 156 KB    | ########## | 100%
certifi-2021.10.8    | 156 KB    | ########## | 100%

openssl-1.1.1n       | 5.8 MB    |            |   0%
openssl-1.1.1n       | 5.8 MB    | 2          |   3%
openssl-1.1.1n       | 5.8 MB    | 8          |   9%
openssl-1.1.1n       | 5.8 MB    | #3         |  13%
openssl-1.1.1n       | 5.8 MB    | #7         |  18%
openssl-1.1.1n       | 5.8 MB    | ##4        |  24%
openssl-1.1.1n       | 5.8 MB    | ###2       |  33%
openssl-1.1.1n       | 5.8 MB    | ####1      |  42%
openssl-1.1.1n       | 5.8 MB    | ####8      |  49%
openssl-1.1.1n       | 5.8 MB    | #####7     |  58%
openssl-1.1.1n       | 5.8 MB    | ######6    |  66%
openssl-1.1.1n       | 5.8 MB    | #######4   |  74%
openssl-1.1.1n       | 5.8 MB    | ########3  |  83%
openssl-1.1.1n       | 5.8 MB    | #########3 |  93%
openssl-1.1.1n       | 5.8 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done
Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [6]:
import mysql.connector as conn

ModuleNotFoundError: No module named 'mysql'

In [6]:
conda update -n base -c defaults conda

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\tando\anaconda3

  added / updated specs:
    - conda


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2022.3.29  |       haa95532_1         122 KB
    certifi-2021.10.8          |   py39haa95532_2         152 KB
    openssl-1.1.1n             |       h2bbff1b_0         4.8 MB
    ------------------------------------------------------------
                                           Total:         5.1 MB

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates                                  anaconda --> pkgs/main
  certifi                                          anaconda --> pkgs/main
  openssl                                          anaconda --> pkgs/main



Downloading and Extracting Packages

ca-certificates-2022 | 122 KB    |            |   0%
ca-certificates-2022 | 122 KB    | #3         |  13%
ca-certificates-2022 | 122 KB    | ########## | 100%
ca-certificates-2022 | 122 KB    | ########## | 100%

openssl-1.1.1n       | 4.8 MB    |            |   0%
openssl-1.1.1n       | 4.8 MB    | 2          |   2%
openssl-1.1.1n       | 4.8 MB    | 8          |   8%
openssl-1.1.1n       | 4.8 MB    | #8         |  18%
openssl-1.1.1n       | 4.8 MB    | ##9        |  29%
openssl-1.1.1n       | 4.8 MB    | ####       |  40%
openssl-1.1.1n       | 4.8 MB    | #####      |  51%
openssl-1.1.1n       | 4.8 MB    | ######     |  60%
openssl-1.1.1n       | 4.8 MB    | ######8    |  68%
openssl-1.1.1n       | 4.8 MB    | #######5   |  76%
openssl-1.1.1n       | 4.8 MB    | ########7  |  88%
openssl-1.1.1n       | 4.8 MB    | #########7 |  98%
openssl-1.1.1n       | 4.8 MB    | ########## | 100%

certifi-2021.10.8    | 152 KB    |            |   0%
certifi-2021.10.8    | 152 KB    | ########4  |  84%
certifi-2021.10.8    | 152 KB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done
Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymysql as conn

In [4]:
mydb = conn.connect(host = "localhost" , user="root", password="12345")

In [5]:
cursor=mydb.cursor()

In [20]:
sudo install csvkit

SyntaxError: invalid syntax (4079809422.py, line 1)

In [27]:
pip install mysqlclient

Collecting mysqlclientNote: you may need to restart the kernel to use updated packages.
  Downloading mysqlclient-2.1.1-cp39-cp39-win_amd64.whl (178 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.1

In [6]:
import MySQLdb

In [7]:
import csvkit

In [30]:
pip install csvkit

Collecting csvkit
  Downloading csvkit-1.0.7-py2.py3-none-any.whl (42 kB)
Collecting agate-sql>=0.5.3
  Downloading agate_sql-0.5.8-py2.py3-none-any.whl (7.1 kB)
Collecting agate>=1.6.1
  Downloading agate-1.6.3-py2.py3-none-any.whl (100 kB)
Collecting agate-excel>=0.2.2
  Downloading agate_excel-0.2.5-py2.py3-none-any.whl (7.1 kB)
Requirement already satisfied: six>=1.6.1 in c:\users\tando\anaconda3\lib\site-packages (from csvkit) (1.16.0)
Collecting agate-dbf>=0.2.2
  Downloading agate_dbf-0.2.2-py2.py3-none-any.whl (3.5 kB)
Requirement already satisfied: Babel>=2.0 in c:\users\tando\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (2.9.1)
Collecting parsedatetime!=2.5,!=2.6,>=2.1
  Downloading parsedatetime-2.4.tar.gz (58 kB)
Collecting leather>=0.3.2
  Downloading leather-0.3.4-py2.py3-none-any.whl (31 kB)
Collecting isodate>=0.5.4
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
Requirement already satisfied: python-slugify>=1.2.1 in c:\users\tando\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (5.0.2)
Collecting pytimeparse>=1.1.5
  Downloading pytimeparse-1.1.8-py2.py3-none-any.whl (10.0 kB)
Collecting dbfread>=2.0.5
  Downloading dbfread-2.0.7-py2.py3-none-any.whl (20 kB)
Requirement already satisfied: olefile in c:\users\tando\anaconda3\lib\site-packages (from agate-excel>=0.2.2->csvkit) (0.46)
Requirement already satisfied: openpyxl>=2.3.0 in c:\users\tando\anaconda3\lib\site-packages (from agate-excel>=0.2.2->csvkit) (3.0.9)
Requirement already satisfied: xlrd>=0.9.4 in c:\users\tando\anaconda3\lib\site-packages (from agate-excel>=0.2.2->csvkit) (2.0.1)
Requirement already satisfied: sqlalchemy>=1.0.8 in c:\users\tando\anaconda3\lib\site-packages (from agate-sql>=0.5.3->csvkit) (1.4.32)
Requirement already satisfied: pytz>=2015.7 in c:\users\tando\anaconda3\lib\site-packages (from Babel>=2.0->agate>=1.6.1->csvkit) (2021.3)
Requirement already satisfied: et-xmlfile in c:\users\tando\anaconda3\lib\site-packages (from openpyxl>=2.3.0->agate-excel>=0.2.2->csvkit) (1.1.0)
Requirement already satisfied: future in c:\users\tando\anaconda3\lib\site-packages (from parsedatetime!=2.5,!=2.6,>=2.1->agate>=1.6.1->csvkit) (0.18.2)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\tando\anaconda3\lib\site-packages (from python-slugify>=1.2.1->agate>=1.6.1->csvkit) (1.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\tando\anaconda3\lib\site-packages (from sqlalchemy>=1.0.8->agate-sql>=0.5.3->csvkit) (1.1.1)
Building wheels for collected packages: parsedatetime
  Building wheel for parsedatetime (setup.py): started
  Building wheel for parsedatetime (setup.py): finished with status 'done'
  Created wheel for parsedatetime: filename=parsedatetime-2.4-py3-none-any.whl size=42773 sha256=1d1ac94cff7dc8f610fd7d8b6b08ab8292a02d9bb733e1aaef2ad9933a0b6197
  Stored in directory: c:\users\tando\appdata\local\pip\cache\wheels\92\80\ea\12d7c2c45f3ad765ee4cc505a22d5af2d1cc5defb0f4c0552b
Successfully built parsedatetime
Installing collected packages: pytimeparse, parsedatetime, leather, isodate, dbfread, agate, agate-sql, agate-excel, agate-dbf, csvkit
Successfully installed agate-1.6.3 agate-dbf-0.2.2 agate-excel-0.2.5 agate-sql-0.5.8 csvkit-1.0.7 dbfread-2.0.7 isodate-0.6.1 leather-0.3.4 parsedatetime-2.4 pytimeparse-1.1.8
Note: you may need to restart the kernel to use updated packages.

In [8]:
import csvkit

In [9]:
import MySQLdb

In [10]:
import mysql.connector as conn

In [23]:
pip search mysql-connector

Note: you may need to restart the kernel to use updated packages.

ERROR: XMLRPC request failed [code: -32500]
RuntimeError: PyPI's XMLRPC API is currently disabled due to unmanageable load and will be deprecated in the near future. See https://status.python.org/ for more information.
sys:1: ResourceWarning: unclosed socket <zmq.Socket(zmq.PUSH) at 0x2bd61008100>
C:\Users\tando\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
C:\Users\tando\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=5>
C:\Users\tando\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=6>

In [4]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.30-cp39-cp39-win_amd64.whl (7.8 MB)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\tando\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.30
Note: you may need to restart the kernel to use updated packages.

In [11]:
import mysql.connector as conn

In [29]:
!csvsql --db mysql://root:12345@127.0.0.1:3306/fitbit --insert FitBitdata.csv

C:\Users\tando\anaconda3\lib\site-packages\agate\table\from_csv.py:74: RuntimeWarning: Error sniffing CSV dialect: Could not determine delimiter
sys:1: ResourceWarning: unclosed socket <zmq.Socket(zmq.PUSH) at 0x2bd61008700>
C:\Users\tando\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
C:\Users\tando\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=5>
C:\Users\tando\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=6>

In [33]:
pip install pymongo

Collecting pymongo
  Using cached pymongo-4.2.0-cp39-cp39-win_amd64.whl (374 kB)
Installing collected packages: pymongo
Successfully installed pymongo-4.2.0
Note: you may need to restart the kernel to use updated packages.

sys:1: ResourceWarning: unclosed socket <zmq.Socket(zmq.PUSH) at 0x2bd6292eb20>
C:\Users\tando\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
C:\Users\tando\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=5>
C:\Users\tando\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=6>

In [12]:
import pymongo

In [13]:
import json

In [37]:
client = pymongo.MongoClient("mongodb+srv://Tandon78:Hellodude123@tandon.el8wcqy.mongodb.net/?retryWrites=true&w=majority")

ConfigurationError: The "dnspython" module must be installed to use mongodb+srv:// URIs. To fix this error install pymongo with the srv extra:
 C:\Users\tando\anaconda3\python.exe -m pip install "pymongo[srv]"

In [44]:
pip install "pymongo[srv]"

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: 'pymongo[srv]"'
sys:1: ResourceWarning: unclosed socket <zmq.Socket(zmq.PUSH) at 0x2bd64ab1d60>
C:\Users\tando\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
C:\Users\tando\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=5>
C:\Users\tando\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=6>

In [14]:
client = pymongo.MongoClient("mongodb+srv://Tandon78:Hellodude123@tandon.el8wcqy.mongodb.net/?retryWrites=true&w=majority")

In [15]:
df.to_json("FitBitdatason.json")

In [16]:
db = client.test

In [17]:
db1=client['FitbitTask']
coll=db1['solution']

In [18]:
with open('C:\ProgramData\MySQL\MySQL Server 8.0\Data\mysqlassign\Attribute DataSet.json') as file:
    file_data = json.load(file)
coll.insert_one(file_data)

<>:1: DeprecationWarning: invalid escape sequence \P
<>:1: DeprecationWarning: invalid escape sequence \P
C:\Users\tando\AppData\Local\Temp\ipykernel_6216\3853924287.py:1: DeprecationWarning: invalid escape sequence \P

# 3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format

In [19]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [20]:
df['ActivityDate']=pd.to_datetime(df['ActivityDate'])

In [21]:
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,2016-04-09,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,2016-04-10,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,2016-04-11,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,2016-04-12,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

# 4 . Find out in this data that how many unique id's we have

In [22]:
(df['Id'].unique()).size

35

# 5 . which id is one of the active id that you have in whole dataset

In [23]:
Most_active=df.groupby('Id')['TotalSteps'].sum().sort_values(ascending=False).max()

In [24]:
Most_active

221170

# 6 . how many of them have not logged there activity find out in terms of number of ids

In [25]:
df[df['LoggedActivitiesDistance']==0].head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

# 7 . Find out who is the laziest person id that we have in dataset

In [26]:
df.groupby('Id')['TotalSteps'].sum().sort_values().head(1)

Id
4388161847    0
Name: TotalSteps, dtype: int64

# 8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset

In [82]:
health_df=df.groupby(['Id'])[['Calories']].sum()

In [83]:
health_df

            Calories
Id
1503960366     34128
1624580081     25705
1644430081     29164
1844505072     19391
1927972279     27048
2022484408     29704
2026352035     16266
2320127002     18385
2347167796     30320
2873212765     20349
2891001357     18187
3372868164     18603
3977333714     16777
4020332650     98412
4057192912     60913
4319703577     23931
4388161847     14442
4445114986     31617
4558609924     21962
4702921684     42322
5553957443     21630
5577150313     36303
6117666160     20993
6290855005     21656
6391747486     15868
6775888955     24523
6962181067     29249
7007744171     31525
7086361926     26124
8053475328     31825
8253242879     17556
8378563200     40274
8583815059     19130
8792009665     24884
8877689391     41414

In [84]:
health_df['LoggedDays']=df.groupby('Id')['ActivityDate'].count().sort_values(ascending=False)

In [85]:
health_df['healthIndex']=(health_df['LoggedDays']*2250)/health_df['Calories']

# 2250 is the daily aaverage calorie burn for healthy person

In [86]:
def healthStatus(a):
    if a<1:
        return "Healthy"
    else:
        return "Not Healthy"

In [87]:
health_df

            Calories  LoggedDays  healthIndex
Id
1503960366     34128          19     1.252637
1624580081     25705          19     1.663101
1644430081     29164          10     0.771499
1844505072     19391          12     1.392399
1927972279     27048          12     0.998225
2022484408     29704          12     0.908968
2026352035     16266          12     1.659904
2320127002     18385          12     1.468589
2347167796     30320          15     1.113127
2873212765     20349          12     1.326847
2891001357     18187           8     0.989718
3372868164     18603          10     1.209482
3977333714     16777          12     1.609346
4020332650     98412          32     0.731618
4057192912     60913          32     1.182014
4319703577     23931          12     1.128244
4388161847     14442           8     1.246365
4445114986     31617          15     1.067464
4558609924     21962          12     1.229396
4702921684     42322          15     0.797458
5553957443     21630          12     1.248266
5577150313     36303          11     0.681762
6117666160     20993          10     1.071786
6290855005     21656          10     1.038973
6391747486     15868           9     1.276153
6775888955     24523           9     0.825755
6962181067     29249          14     1.076960
7007744171     31525          12     0.856463
7086361926     26124          12     1.033532
8053475328     31825          11     0.777690
8253242879     17556          12     1.537936
8378563200     40274          12     0.670408
8583815059     19130           8     0.940930
8792009665     24884          12     1.085035
8877689391     41414          12     0.651953

In [88]:
health_df['healthyday']=health_df['healthIndex'].apply(healthStatus)

In [89]:
health_df

            Calories  LoggedDays  healthIndex   healthyday
Id
1503960366     34128          19     1.252637  Not Healthy
1624580081     25705          19     1.663101  Not Healthy
1644430081     29164          10     0.771499      Healthy
1844505072     19391          12     1.392399  Not Healthy
1927972279     27048          12     0.998225      Healthy
2022484408     29704          12     0.908968      Healthy
2026352035     16266          12     1.659904  Not Healthy
2320127002     18385          12     1.468589  Not Healthy
2347167796     30320          15     1.113127  Not Healthy
2873212765     20349          12     1.326847  Not Healthy
2891001357     18187           8     0.989718      Healthy
3372868164     18603          10     1.209482  Not Healthy
3977333714     16777          12     1.609346  Not Healthy
4020332650     98412          32     0.731618      Healthy
4057192912     60913          32     1.182014  Not Healthy
4319703577     23931          12     1.128244  Not Healthy
4388161847     14442           8     1.246365  Not Healthy
4445114986     31617          15     1.067464  Not Healthy
4558609924     21962          12     1.229396  Not Healthy
4702921684     42322          15     0.797458      Healthy
5553957443     21630          12     1.248266  Not Healthy
5577150313     36303          11     0.681762      Healthy
6117666160     20993          10     1.071786  Not Healthy
6290855005     21656          10     1.038973  Not Healthy
6391747486     15868           9     1.276153  Not Healthy
6775888955     24523           9     0.825755      Healthy
6962181067     29249          14     1.076960  Not Healthy
7007744171     31525          12     0.856463      Healthy
7086361926     26124          12     1.033532  Not Healthy
8053475328     31825          11     0.777690      Healthy
8253242879     17556          12     1.537936  Not Healthy
8378563200     40274          12     0.670408      Healthy
8583815059     19130           8     0.940930      Healthy
8792009665     24884          12     1.085035  Not Healthy
8877689391     41414          12     0.651953      Healthy

In [90]:
health_df
#  if health index is more than 1 then it is not considered to be healthy

            Calories  LoggedDays  healthIndex   healthyday
Id
1503960366     34128          19     1.252637  Not Healthy
1624580081     25705          19     1.663101  Not Healthy
1644430081     29164          10     0.771499      Healthy
1844505072     19391          12     1.392399  Not Healthy
1927972279     27048          12     0.998225      Healthy
2022484408     29704          12     0.908968      Healthy
2026352035     16266          12     1.659904  Not Healthy
2320127002     18385          12     1.468589  Not Healthy
2347167796     30320          15     1.113127  Not Healthy
2873212765     20349          12     1.326847  Not Healthy
2891001357     18187           8     0.989718      Healthy
3372868164     18603          10     1.209482  Not Healthy
3977333714     16777          12     1.609346  Not Healthy
4020332650     98412          32     0.731618      Healthy
4057192912     60913          32     1.182014  Not Healthy
4319703577     23931          12     1.128244  Not Healthy
4388161847     14442           8     1.246365  Not Healthy
4445114986     31617          15     1.067464  Not Healthy
4558609924     21962          12     1.229396  Not Healthy
4702921684     42322          15     0.797458      Healthy
5553957443     21630          12     1.248266  Not Healthy
5577150313     36303          11     0.681762      Healthy
6117666160     20993          10     1.071786  Not Healthy
6290855005     21656          10     1.038973  Not Healthy
6391747486     15868           9     1.276153  Not Healthy
6775888955     24523           9     0.825755      Healthy
6962181067     29249          14     1.076960  Not Healthy
7007744171     31525          12     0.856463      Healthy
7086361926     26124          12     1.033532  Not Healthy
8053475328     31825          11     0.777690      Healthy
8253242879     17556          12     1.537936  Not Healthy
8378563200     40274          12     0.670408      Healthy
8583815059     19130           8     0.940930      Healthy
8792009665     24884          12     1.085035  Not Healthy
8877689391     41414          12     0.651953      Healthy

In [91]:
def cal(a):
    if a>2250:
        return "Yes"
    else:
        return "Not"
    
    
#     For a healthy day one should consume atleast 2250 cal so for a month it will be 2250*30=67500, so now calorie burnt will 
#     be dependent on number of logged days

In [92]:
df['healthyday']=df['Calories'].apply(cal)

In [93]:
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,healthyday
0,1503960366,2016-03-25,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819,Not
1,1503960366,2016-03-26,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154,Not
2,1503960366,2016-03-27,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944,Not
3,1503960366,2016-03-28,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932,Not
4,1503960366,2016-03-29,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886,Not
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196,Yes
453,8877689391,2016-04-09,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841,Yes
454,8877689391,2016-04-10,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526,Yes
455,8877689391,2016-04-11,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820,Yes
456,8877689391,2016-04-12,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938,Not

# 9. how many person are not a regular person with respect to activity try to find out those

In [94]:
health_df

            Calories  LoggedDays  healthIndex   healthyday
Id
1503960366     34128          19     1.252637  Not Healthy
1624580081     25705          19     1.663101  Not Healthy
1644430081     29164          10     0.771499      Healthy
1844505072     19391          12     1.392399  Not Healthy
1927972279     27048          12     0.998225      Healthy
2022484408     29704          12     0.908968      Healthy
2026352035     16266          12     1.659904  Not Healthy
2320127002     18385          12     1.468589  Not Healthy
2347167796     30320          15     1.113127  Not Healthy
2873212765     20349          12     1.326847  Not Healthy
2891001357     18187           8     0.989718      Healthy
3372868164     18603          10     1.209482  Not Healthy
3977333714     16777          12     1.609346  Not Healthy
4020332650     98412          32     0.731618      Healthy
4057192912     60913          32     1.182014  Not Healthy
4319703577     23931          12     1.128244  Not Healthy
4388161847     14442           8     1.246365  Not Healthy
4445114986     31617          15     1.067464  Not Healthy
4558609924     21962          12     1.229396  Not Healthy
4702921684     42322          15     0.797458      Healthy
5553957443     21630          12     1.248266  Not Healthy
5577150313     36303          11     0.681762      Healthy
6117666160     20993          10     1.071786  Not Healthy
6290855005     21656          10     1.038973  Not Healthy
6391747486     15868           9     1.276153  Not Healthy
6775888955     24523           9     0.825755      Healthy
6962181067     29249          14     1.076960  Not Healthy
7007744171     31525          12     0.856463      Healthy
7086361926     26124          12     1.033532  Not Healthy
8053475328     31825          11     0.777690      Healthy
8253242879     17556          12     1.537936  Not Healthy
8378563200     40274          12     0.670408      Healthy
8583815059     19130           8     0.940930      Healthy
8792009665     24884          12     1.085035  Not Healthy
8877689391     41414          12     0.651953      Healthy

In [95]:
health_df[health_df['LoggedDays']<12]
# Consideering person logging more than 12 days are active

            Calories  LoggedDays  healthIndex   healthyday
Id
1644430081     29164          10     0.771499      Healthy
2891001357     18187           8     0.989718      Healthy
3372868164     18603          10     1.209482  Not Healthy
4388161847     14442           8     1.246365  Not Healthy
5577150313     36303          11     0.681762      Healthy
6117666160     20993          10     1.071786  Not Healthy
6290855005     21656          10     1.038973  Not Healthy
6391747486     15868           9     1.276153  Not Healthy
6775888955     24523           9     0.825755      Healthy
8053475328     31825          11     0.777690      Healthy
8583815059     19130           8     0.940930      Healthy

# 10 . who is the thired most active person in this dataset find out those in pandas and in sql both

In [109]:
health_df['LoggedDays'].sort_values(ascending=False).head(3)

#  My criteria to find the most active person is based on the number of times a person logged in

Id
4057192912    32
4020332650    32
1503960366    19
Name: LoggedDays, dtype: int64

# 11 . who is the 5th most laziest person avilable in dataset find it out

In [110]:
health_df['LoggedDays'].sort_values(ascending=False).tail(5)

Id
6391747486    9
6775888955    9
2891001357    8
8583815059    8
4388161847    8
Name: LoggedDays, dtype: int64

# 12 . what is a totla acumulative calories burn for a person find out

In [111]:
df.groupby(['Id'])[['Calories']].sum()

            Calories
Id
1503960366     34128
1624580081     25705
1644430081     29164
1844505072     19391
1927972279     27048
2022484408     29704
2026352035     16266
2320127002     18385
2347167796     30320
2873212765     20349
2891001357     18187
3372868164     18603
3977333714     16777
4020332650     98412
4057192912     60913
4319703577     23931
4388161847     14442
4445114986     31617
4558609924     21962
4702921684     42322
5553957443     21630
5577150313     36303
6117666160     20993
6290855005     21656
6391747486     15868
6775888955     24523
6962181067     29249
7007744171     31525
7086361926     26124
8053475328     31825
8253242879     17556
8378563200     40274
8583815059     19130
8792009665     24884
8877689391     41414